#error.page header {
    margin: 0;
    margin-top: 120px;
    padding: 0 3em;
    height: initial;
}

#error.page header h1 {
    margin: 0;
    color: var(--grayC);
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5em;
}

#error.page header h1 b {
    color: var(--red);
}

#error.page p {
    padding: 0 3em;
    font-size: 20px;
    color: var(--gray5);
}

#error.page img {
    width: 100%;
    margin-bottom: 3em;
}

#error.page .columns,
#error.page .column {
    flex-direction: column;
}

@media (min-width: 576px) {
    #error.page header {
        height: initial;
        min-height: initial;
        width: 100%;
    }  
}

@media (min-width: 1200px) {
    #error.page p {
        font-size: 16px;
    }
    #error.page .columns {
        flex-direction: row;
        align-items: center;
    }
    #error.page .column {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 396px);
    }
}