#contact.page header {
    background-image: url('/images/header-contact.png');
}

#contact.page > section {
    flex-direction: column;
}

#contact.page #map {
    background-image: url('/images/map.jpg');
    height: 380px;
    width: 100%;
}

#contact.page .contacts {
    margin: 0;
    margin-top: 30px;
    padding: 1em;
    flex-direction: column;
}

#contact.page .contacts li {
    border: var(--grayC) 1px solid;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin-bottom: 4em;
    text-align: center;
    color: var(--gray6);
}

#contact.page .contacts li img {
    max-width: 100px;
    background-color: var(--white);
    margin: 0 auto;
    margin-top: -60px;
    padding: 0 15px;
}

#contact.page .contacts li h3 {
    font-weight: 600;
    margin: 0;
    font-size: 24px;
}

#contact.page .contacts li p {
    font-weight: 300;
    margin: 0;
    font-size: 25px;
}

@media (min-width: 576px) {
    #contact.page header {
        background-image: url('/images/header-contact@2x.png');
    }
}

@media (min-width: 992px) {
    #contact.page header {
        background-image: url('/images/header-contact@3x.png');
        background-position: 0px -22vw;
    }

    #contact.page > section {
        flex-direction: row;
    }
    
    #contact.page > section form,
    #contact.page > section #map {
        flex: 1;
    }
    #contact.page > section #map {
        margin: 1em;
        margin-left: 0;
    }
    #contact.page .contacts {
        flex-direction: row;
    }
    #contact.page .contacts li {
        margin-right: 1em;
    }
    #contact.page .contacts li:last-child {
        margin-right: 0;
    }
    #contact.page hr {
        background-color: var(--grayC);
        height: 1px;
        width: calc(100% - 2em);
        margin: 3em 0;
        border: none;
        display: flex;
        align-self: center;
    }
    #contact.page .contacts li {
        margin-bottom: 2em;
    }
}

