* {
    box-sizing: border-box;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button {
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}