#gallery.page header {
    background-image: url('/images/header-gallery.png');
}

#gallery.page .photos {
    flex-direction: column;
}

#gallery.page .photos img {
    width: 100%;
}

@media (min-width: 576px) {
    #gallery.page header {
        background-image: url('/images/header-gallery@2x.png');
    }
}

@media (min-width: 992px) {
    #gallery.page header {
        background-image: url('/images/header-gallery@3x.png');
        background-position: 0px -24vw;
    }
    #gallery.page .photos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #gallery.page .photos img {
        width: 33vw;
        margin-bottom: 4px;
    }
}