header {
    min-width: 320px;
    width: 100%;
    height: 80px;
    background-color: var(--header);
    position: relative;
}

header button {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    padding: 13px;
    outline: none;
}

header #logo {
    position: absolute;
    left: calc(50vw - 60px);
    top: 15px;
    z-index: 2;
}

header hr {
    background-image: url('/images/bg-italy.svg');
    background-repeat: repeat-x;
    width: 100%;
    height: 20px;
    margin: 0;
    position: absolute;
    bottom: 0;
    z-index: 1;
}