#home {
    
}
#home header {
    width: 100%;
    min-width: 320px;
    height: 100vh;
    max-height: 800px;
    background-image: url('/images/photos/sf90_stradale.jpg');
    background-position-x: 80%;
    background-position-y: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2em;
    margin-top: -80px;
}
#home header h1 {
    color: #FFF;
    font-size: 4em;
    font-weight: bold;
    text-align: right;
    margin: .4em 0;
    line-height: 1.25em;
}
#home header a {
    border: #FFF 2px solid;
    border-radius: 8px;
    padding: 10px 32px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
}