@import 'open-sans.css';
@import 'variables.css';
@import 'defaults.css';
@import 'header.css';
@import 'footer.css';
@import 'home.css';
@import 'our-history.css';
@import 'contact.css';
@import 'login.css';
@import 'register.css';
@import 'gallery.css';

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}