:root {
    --black: #000;
    --white: #FFF;
    --red: #E32119;
    --yellow: #FFF100;
    --green: #00994D;
    --dark: #343433;
    --light: #F8F8F8;
    --header: #E5E3DF75;
    --white50: #FFFFFF50;
    --black75: rgba(0, 0, 0, .75);
    --black50: rgba(0, 0, 0, .5);
    --gray3: #333;
    --gray5: #666;
    --gray6: #666;
    --grayC: #CCC;
}