:root {
    --black: #000;
    --white: #FFF;
    --red: #E32119;
    --yellow: #FFF100;
    --green: #00994D;
    --dark: #343433;
    --light: #F8F8F8;
}

* {
    box-sizing: border-box;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol {
    display: flex;
}

body {
    margin: 0;
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}