:root {
    --black: #000;
    --white: #FFF;
    --red: #E32119;
    --yellow: #FFF100;
    --green: #00994D;
    --dark: #343433;
    --light: #F8F8F8;
    --header: #E5E3DF75;
    --white50: #FFFFFF50;
}

* {
    box-sizing: border-box;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button {
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
}

header {
    min-width: 320px;
    width: 100%;
    height: 80px;
    background-color: var(--header);
    position: relative;
}

header button {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    padding: 13px;
    outline: none;
}

header #logo {
    position: absolute;
    left: calc(50vw - 60px);
    z-index: 2;
}

header hr {
    background-image: url('images/bg-italy.svg');
    background-repeat: repeat-x;
    width: 100%;
    height: 20px;
    margin: 0;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

footer {
    width: 100%;
    min-width: 320px;
    position: relative;
    background-color: var(--dark);
    color: var(--white50);
    flex-direction: column;
    padding: 2em;
    align-items: center;
}

footer button {
    position: absolute;
    right: 0;
    background: var(--light);
    color: var(--dark);
    box-shadow: var(--black) 0 3px 6px;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 13px;
    outline: none;
    justify-content: center;
    align-items: center;
    top: -35px;
    z-index: 1;
}

footer ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 300px;
}

footer ul li {
    list-style: none;
    padding: .5em 0;
    font-size: 16px;
}

footer ul li.title {
    font-weight: bold;
    font-size: 20px;
}

footer .social {
    align-items: center;
}

footer .social a {
    margin-right: 1em;
}

footer .social img {
    height: 24px;
}

footer .logo {
    margin: 2em 0;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}